:root {
	--cell-size: 100px;

	--color: #81c3fd; /* for hover */
	--color-set: #0275d8; /* when set */
	--l: 10px; /* X line-width */
}

body {
	margin: 0;
}
.board {
	align-items: center;
	justify-content: center;
	margin: center;
	text-align:center;
}
.cell {
	width: var(--cell-size);
	height: var(--cell-size);
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items:center;
	position: relative;
	cursor: pointer;
	
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin:auto;
}